extends layout

block content
    a(
        href="/tabla"
    )
        input(type="submit", value="Ir a la tabla")
    a(
        href="/formulario"
    )
        input(type="submit", value="Ir al formulario")