<form>
  <label>Producto</label>
  <input id="input-producto" name="title" placeholder="producto" />
  <label>Precio</label>
  <input id="input-precio" name="price" placeholder="precio" />
  <input type="submit" />
</form>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Producto</th>
      <th>Precio</th>
    </tr>
    <tbody>

    </tbody>

  </thead>
  <tbody>

  </tbody>
</table>

<form id="chat">
  <label>Email</label>
  <input id="input-email" name="email" placeholder="donpepe23@hotmail.com" />
  <div id="historial-mensajes"></div>
  <label>Mensaje</label>
  <input id="input-mensaje" name="menssage" placeholder="hello! how are you?" />
  <input type="submit" />
</form>